@media screen and(max-width: map-get($grid-breakpoints, "lg")) {
  .lg-show {
    display: none !important;
  }

  .md-show {
    display: flex !important;
  }
}

@media screen and(min-width: map-get($grid-breakpoints, "lg")) {
  .lg-show {
    display: flex !important;
  }

  .md-show {
    display: none !important;
  }
}

@media screen and(orientation: landscape) {
  .landscape-show {
    display: flex !important;
  }

  .portrait-show {
    display: none !important;
  }
}

@media screen and(orientation: portrait) {
  .portrait-show {
    display: flex !important;
  }

  .landscape-show {
    display: none !important;
  }
}