.contacts-block.bg-black
    .col-12.mt-5
        h1.text-light.text-center.text-uppercase.text-underline Контакты
    .col-xl-11.mx-auto.col-lg-11.col-md-12.px-xl-3.px-lg-1.px-md-3.text-center
        h3.mt-5.text-light ABC99Production@mail.ru
        h3.mt-5.text-light
            | г. Киев, м. Дорогожичи
            br
            .
                ул. Петропавловская 54-я
            br
            a.text-uppercase.text-underline.text-light(href='#') Смотреть на карте
        h3.mt-5.text-light +38 044 237 37 07
        h3.text-light +38 063 237 37 07
        .py-5
            a.btn.btn-outline-light.rounded-0.p-3.h2.border-2.text-uppercase(href='#') Заказать звонок
