-
    var url = require('./../variables-for-templates').url

.landing-block.d-flex.flex-column.justify-content-end
    // todo: убрать дублирование кода
    .col-12.px-0
        .col-12.mx-auto.py-lg-3.px-0
            h1.col-12.landing-text.px-0.text-center.text-uppercase.font-weight-normal.mb-0
                | Рекламное
                | агентство&nbsp;
                br.portrait-show.mt-3
                span.landing-small-text полного цикла
        .col-md-10.col-lg-6.col-xl-4.mx-auto.pt-lg-3.pt-xl-1.my-3.px-0
            h2.col-12.landing-reference.px-0.text-uppercase.text-underline.text-black.text-center
                | Скачать портфолио
