-
    var url = require('./../variables-for-templates').url

.landing-block.d-flex.flex-column.justify-content-end
    // todo: убрать дублирование кода
    .col-12.px-0
        .col-12.mx-auto.py-lg-3.px-0
            h1.col-12.landing-text.px-0.text-center.text-uppercase.font-weight-normal.mb-0
                | Рекламное
                | агентство&nbsp;
                br.portrait-show.mt-3
                span.landing-small-text полного цикла
        .col-md-6.col-lg-4.col-xl-3.mx-auto.pt-lg-3.pt-xl-1.my-md-3.mb-lg-5.mb-xl-3.px-0
            a.reference-info.inverted.btn-block.lg-and-portrait-show.flex-row.justify-content-center Скачать презентацию
            h2.landing-reference.px-0.text-uppercase.text-underline.text-black.md-and-landscape-show.flex-row.justify-content-center
                | Скачать портфолио
