.partners-block
    .col-12.mt-5
        h1.text-black.text-center.text-uppercase.text-underline Партнеры
    .col-md-8.mx-auto.px-0.row.text-center.mt-5.companies-list.owl-carousel.owl-theme
        div
            img.company-image(src='./assets/images/companies/ciklum.jpg', alt='')
        div
            img.company-image(src='./assets/images/companies/globallogic.jpg', alt='')
        div
            img.company-image(src='./assets/images/companies/sumsung.jpg', alt='')
        div
            img.company-image(src='./assets/images/companies/privat.jpg', alt='')
        div
            img.company-image(src='./assets/images/companies/infopulse.jpg', alt='')
        div
            img.company-image(src='./assets/images/companies/softserve.jpg', alt='')
        div
            img.company-image(src='./assets/images/companies/cybervision.jpg', alt='')
        div
            img.company-image(src='./assets/images/companies/luxoft.jpg', alt='')
