.team-block
    .col-12.mt-5
        h1.text-black.text-center.text-uppercase.text-underline Команда
    .col-md-8.mx-auto.px-0.row.text-center.mt-5.team-list.owl-carousel.owl-theme
        .cursor-pointer
            .col-lg-12
                img.col-10.mx-auto.team-member-image(src='./assets/images/team/boldir.png', alt='')
            h5.text-uppercase.mt-3.font-weight-bolder Евгений Болдырь
            p.text-uppercase.text-dark.toggle-ref.small.font-weight-bolder
                span.small Название должности
        .cursor-pointer
            .col-lg-12
                img.col-10.mx-auto.team-member-image(src='./assets/images/team/bok.png', alt='')
            h5.text-uppercase.mt-3.font-weight-bolder
                | Боккар Сергей
            p.text-uppercase.text-dark.toggle-ref.small.font-weight-bolder
                span.small Название должности
        .cursor-pointer
            .col-lg-12
                img.col-10.mx-auto.team-member-image(src='./assets/images/team/kozak.png', alt='')
            h5.text-uppercase.mt-3.font-weight-bolder Виталий Козак
            p.text-uppercase.text-dark.toggle-ref.small.font-weight-bolder
                span.small Название должности
        .cursor-pointer
            .col-lg-12
                img.col-10.mx-auto.team-member-image(src='./assets/images/team/boldir.png', alt='')
            h5.text-uppercase.mt-3.font-weight-bolder Евгений Болдырь
            p.text-uppercase.text-dark.toggle-ref.small.font-weight-bolder
                span.small Название должности
        .cursor-pointer
            .col-lg-12
                img.col-10.mx-auto.team-member-image(src='./assets/images/team/bok.png', alt='')
            h5.text-uppercase.mt-3.font-weight-bolder
                | Боккар Сергей
            p.text-uppercase.text-dark.toggle-ref.small.font-weight-bolder
                span.small Название должности
        .cursor-pointer
            .col-lg-12
                img.col-10.mx-auto.team-member-image(src='./assets/images/team/kozak.png', alt='')
            h5.text-uppercase.mt-3.font-weight-bolder Виталий Козак
            p.text-uppercase.text-dark.toggle-ref.small.font-weight-bolder
                span.small Название должности
        .cursor-pointer
            .col-lg-12
                img.col-10.mx-auto.team-member-image(src='./assets/images/team/boldir.png', alt='')
            h5.text-uppercase.mt-3.font-weight-bolder Евгений Болдырь
            p.text-uppercase.text-dark.toggle-ref.small.font-weight-bolder
                span.small Название должности
        .cursor-pointer
            .col-lg-12
                img.col-10.mx-auto.team-member-image(src='./assets/images/team/bok.png', alt='')
            h5.text-uppercase.mt-3.font-weight-bolder
                | Боккар Сергей
            p.text-uppercase.text-dark.toggle-ref.small.font-weight-bolder
                span.small Название должности
        .cursor-pointer
            .col-lg-12
                img.col-10.mx-auto.team-member-image(src='./assets/images/team/kozak.png', alt='')
            h5.text-uppercase.mt-3.font-weight-bolder Виталий Козак
            p.text-uppercase.text-dark.toggle-ref.small.font-weight-bolder
                span.small Название должности
